body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1, h2, h3{
    text-align: center;
}



p{
    margin: 25px 5% 25px 5%;
    text-align: justify;
    padding-bottom: 25px;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
}

#tab-container{
    margin: auto;
    height: 100%;
    width: 50%;
}

.not-selected, .selected{
    user-select: none;
    position: relative;
    height: 100%;
    border-color: lightblue;
    text-align: center;
    font-size: 20px;
    width: 33%;
    padding-top: 20px;
}

.not-selected{
    background-color: lightgray;
    border-style: outset;
}

.selected{
    background-color: white;
    border-style: inset;
}

.not-selected:hover{
    border-color: red;
}

.not-selected:active{
    border-style: inset;
}


#content{
    background-color: lightgoldenrodyellow;
    width: 800px;
    height: 100%;
    margin: auto;
}

#borger-pic{
    height: 300px;
    width: 100%;
}

#link-container{
    margin: auto;
    height: 50px;
    width: 150px;
}

#menu-list{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    padding-bottom: 25px;
}

#menu-link{
    float: left;
}

#contact-link{
    float:right;
}