body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1, h2, h3{
    text-align: center;
}

p{
    margin: 25px 5% 25px 5%;
    text-align: justify;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px;
}

.tab{
    position: relative;
    height: 100%;
    background-color: lightgray;
    border-style: outset;
    border-color: lightblue;
    text-align: center;
    font-size: 20px;
    width: 33%
}

#tab-container{
    margin: auto;
    height: 100%;
    width: 50%;
}

#content{
    background-color: lightgoldenrodyellow;
    width: 800px;
    height: 100%;
    margin: auto;
}

#borger-pic{
    height: 300px;
    width: 100%;
}

#link-container{
    margin: auto;
    height: 50px;
    width: 150px;
}

#menu-link{
    float: left;
}

#contact-link{
    float:right;
}